<h1>All Experiences</h1>

<% @experiences.each do |experience|%>
<h5> <%= experiences.name %>  </h5>
<p> <%= experiences.content %>
<%= experiences.price %>
<%= experiences.picture_url %>
<%= experiences.number_of_participants %></p>
<% end %>
