<h1>All Experiences</h1>
<%=console%>
<% @experiences.each do |experience|%>
<h5> <%= experiences.name %>  </h5>
<p> <%= experiences.content %></p>
<p> <%= experiences.price %></p>
<p> <%= experiences.picture_url %></p>
<% end %>
