<%# <h1>All Experiences</h1>

<% @experiences.each do |experience|%>
<%# <h5> <%= experience.name %>
<%# <p> <%= experience.content %>
<%# <%= experience.price %>
<%# <%= experience.picture_url %>
<%# <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All dating experiences</h1>
      <div class="search-bar-index">
      <form action="/experiences" accept-charset="UTF-8" method="get">
      
      <input type="text" name="query" id="form-placeholder" class="form control form-search" placeholder="Find an experience..."><input type="submit" name="commit" value="Search" class="btn-search btn-search-index btn-experience-new" data-disable-with="Search">
</form> 
</div>
</div>
</div>
<div class="container">
      <ul class="list-group">
        <% @experiences.each do |experience| %>
  <%# <h2>Search our experiences below...</h2> %>
  <div class="card-trip">
  <%= [image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644665936/tate_britain_exterior_1_yyyfwz.jpg"), 
       image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644669175/shard_fasbdu.jpg"), 
       image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644669328/ronniescott_ewcbxt.jpg"), 
       image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644669478/lapland_c1xjmh.jpg"), 
       image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644669676/pizzaeast_j438iw.jpg"),
       image_tag("https://res.cloudinary.com/dfljjticx/image/upload/v1644669765/eastville_h3xbsi.png")].sample %>
  <%# <%= img src="https://www.tate.org.uk/sites/default/files/styles/width-600/public/tate_britain_exterior_1.jpg" %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to experience.name, experience_path(experience) %></h2>
      <p><%= experience.content %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
    </div>
   </div>
  </div>
 </div>
 </div>
<% end %>
      </ul>
      <%= link_to "Add a new Experience", new_experience_path, class: 'btn btn-primary' %>
      </div>
    
