<div class="experiences-container">
  <div class="row">
   <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @experience.name %></h1>
      <h3><%= @experience.content %></h3>
      <h3>£<%= @experience.price %></h3>
      <%= image_tag "https://www.tate.org.uk/sites/default/files/styles/width-600/public/tate_britain_exterior_1.jpg" %>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3> >> Book here! <<</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="booking-form">
       <h3>BOOKING</h3>
      <div class="fields">
      <%= simple_form_for([ @experience, @booking ]) do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :number_of_participants, as: :integer %>
  <%# <%= f.button :submit %>
<% end %>
<%= link_to "submit", profile_path %>
       <%# <form class = "simple_form new_booking" id="new_booking" novalidate="novalidate" action="experiences/1/bookings" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" value="mSiWdmcYEm/SA1QmjSexwT8HCxS+23pFtItdqoufdjh1WM555Eu/RjaFrA5j5NoZz/latc1LEmjX/u488pDSKA==">
          <div class="form-group date required booking_date">
            <label class="date required" for="booking_date">
               Date
            </label>
            <div class="d-flex flex-row justify-content-between align-items-center">
              <input class="form-control mx-1 date required" type="date" name="booking[date]" id="booking_date">
            </div>
          </div>
          <div class="form-group integer required booking_number_of_people">
            <label class="integer required" for="booking_number_of_people">
              Number of people
            </label>
            <input class="form-control numeric integer required inline-element" type="number" step="1" name="booking[number_of_people]" id="booking_number_of_people">
          </div>
          <input type="submit" name="commit" value="Book" class="btn-search btn-search-index btn-island-new" data-disable-with="Book">
       </form> %>
      </div>
    </div>
  </div>
</div>
